.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
        position: relative;
    }
    .slick-prev {
        position: absolute;
        border: none;
        transform: translateY(-50%);
        top: 50%;
        left: -66px;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        position: absolute;
        border: none;
        transform: translateY(-50%);
        top: 50%;
        right: -66px;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots {
        padding: 0;
        list-style: none;
        display: flex;
        width: 45%;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 30px;

        .slick-active {
            button {
                background-color: red;
            }
        }

        button {
            border: none;
            text-indent: -9000px; 
            text-transform: capitalize;
            color: gray;
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }
    }
}
@media (max-width: 920px) {
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 90%;
            img {
                width: 100%;
            }
        }
    }
}
