.feed-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #fff;
        margin-top: 7px;
        margin-bottom: 7px;
        border: none;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 300;
    }
    button {
        margin-top: 7px;
    }
}

@media (max-width: 542px) {
    .feed-form {
        margin: 0 auto;
    }
}