.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    &__close {
        font-size: 41px;
        line-height: 21px;
        position: absolute;
        top: -10px;
        right: -40px;
        color: $main-color;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.233);
        padding: 5px;
        cursor: pointer;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 25px;
    }
    &_mini {
        min-height: 143px;
    }
    input.error {
        border: 1px solid red;
        &:focus {
            border: none;
        }
    }
    label.error {
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
    }
}

#consultation, #order, #thanks {
    display: none;
}